fastapi
uvicorn
streamlit
pymongo
neo4j
google-generativeai
langchain
langchain-google-genai
langchain-community
pandas
numpy
faker
python-dotenv
requests
pydantic
motor
reportlab
unstructured
markdown
pypdf
sentence-transformers
langchain-huggingface
